.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e1e1ef2;
}
.chat__header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat__main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat__main__list{
  list-style: none;
  /* padding-right: 712px; */
  padding-left: inherit;
  /* padding: inherit; */
  width: 50%;
  margin-bottom: 145px;
}

.chat__main__list__item{
  margin-bottom: 40px;
  background: #4f4f4f;
  word-break: break-word;
}

.chat__main__list__item__username{
  margin: 16px;
  padding-top: 8px;
  font-size: 18px;
  color: #b200b2;
}
.chat__main__list__item__content{
  margin: 16px;
  color: white;
  padding-bottom: 18px;
}

.chat__inputfield{
  position: fixed;
  bottom: 0px;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(37, 37, 37);
}
.chat__inputfield__input{
  width: 80%;
  height: 30%;
  background: rgb(54, 54, 54);
  color: white;
  border: none;
  transition: all ease-in-out 0.3s;
}
.chat__inputfield__input:hover{
  background: rgb(64, 64, 64);
  transition: all ease-in-out 0.3s;
}
.chat__inputfield__sendButton{
  height: 34.5%;
  background: rgb(41, 41, 41);
  color: white;
  border: none;
  transition: all ease-in-out 0.3s;
}

.chat__inputfield__sendButton:hover{
  cursor: pointer;
  background: rgb(51, 51, 51);
  transition: all ease-in-out 0.3s;
}

